* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 20px;

    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin: 30px 0;
    display: flex;
    gap: 40px;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity .5s ease-in-out;
}

button:hover {
    opacity: .7;
}

#rock {
    background-color: #a200ff;
}

#paper {
    background-color: #aee01a;
}

#scissors {
    background-color: #7dbeed;
}

p {
    font-weight: bold;
}

.result {
    margin-bottom: 1em;
    font-size: 1.3em;
    color: #29834d;
}

#human-score{
color: rgb(77, 128,216);
}

#machine-score {
    color: rgb(244, 71, 15);
}