* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-section {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 200px;
    display: block;
    margin: 20px auto;
}

main {
    width: 375px;
    background-color: #f4f4f4;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 44px 24px 23px;
}

label {
    color:#777777;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
}

select, input {
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
}

button {
    background-color: #f0c313;
    color: #000000;
    border-radius: 5px;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #000000d1;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    opacity: .8;
}

button:active {
    opacity: .6;
}

.principal-section {
    border: 1px solid #772fd3;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.arrow-img, .logo-moeda-a-converter, .currency-img {
    width: 40px;
    height: 38px;
    border-radius: 100%;
}

/* .arrow-img {
    margin: 15px 0;
} */

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: #777777;
    font-size: 14px;
}

.currency-value-to-convert, .currency-value-converted {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}